<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Авторизация</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}

                    <div class="form-floating flex-fill mb-4">
                        {{ login_form.username }}
                        <label for="{{ login_form.username.id_for_label }}" class="form-label">
                            Имя ползователя
                        </label>
                    </div>

                    <div class="form-floating flex-fill mb-4">
                        {{ login_form.password }}
                        <label for="{{ login_form.password.id_for_label }}" class="form-label">
                            Пароль
                        </label>
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-outline-success">Войти</button>
                        <button class="btn btn-outline-info" data-bs-target="#exampleModalToggle2"
                                data-bs-toggle="modal">Зарегистерироваться
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Регистрвтция</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}

                    <div class="form-floating flex-fill mb-2">
                        {{ register_form.username }}
                        <label for="{{ register_form.username.id_for_label }}" class="form-label">
                            Имя ползователя
                        </label>
                    </div>


                    <div class="form-floating flex-fill mb-2">
                        {{ register_form.first_name }}
                        <label for="{{ register_form.first_name.id_for_label }}" class="form-label">
                            Ваше Имя
                        </label>
                    </div>


                    <div class="form-floating flex-fill mb-2">
                        {{ register_form.last_name }}
                        <label for="{{ register_form.last_name.id_for_label }}" class="form-label">
                            Ваша Фамилия
                        </label>
                    </div>


                    <div class="form-floating flex-fill mb-2">
                        {{ register_form.email }}
                        <label for="{{ register_form.email.id_for_label }}" class="form-label">
                            Ваша почта
                        </label>
                    </div>

                    <div class="form-floating flex-fill mb-2">
                        {{ register_form.password1 }}
                        <label for="{{ register_form.password2.id_for_label }}" class="form-label">
                            Пароль
                        </label>
                    </div>

                    <div class="form-floating flex-fill mb-2">
                        {{ register_form.password2 }}
                        <label for="{{ register_form.password2.id_for_label }}" class="form-label">
                            Потвердите Пароль
                        </label>
                    </div>

                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn list-group-item-success btn-outline-success mx-1">
                            Зарегистрироваться
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0 text-success">
                            Есть аккаунта?
                            <a href="#" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                               class="link-danger navbar-brand"> Входи</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


